streamlit
langchain-huggingface==0.1.9
huggingface-hub==<version>
langchain_core
python-dotenv
langchain_community
langserve
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
